@tailwind base;
@tailwind components;
@tailwind utilities;
/* Wallpapers */
.login-page {
	background-image: url('./assets/wallpaper/FondoLoginLogo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.home-page {
	background-image: url('./assets/wallpaper/FondoHomeLogo.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.text-shadow {
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
