@tailwind base;
@tailwind components;
@tailwind utilities;
/* Wallpapers */
.login-page {
  background-image: url('./assets/wallpaper/FondoLoginLogo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page {
  background-image: url('./assets/wallpaper/FondoHomeLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.text-shadow {
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

/* Autocomplete input */
.MuiAutocomplete-listbox {
  color: rgb(17 24 39);
  font-size: 14px;
}
@media (min-width: 640px) {
  .MuiAutocomplete-listbox {
    font-size: 14px;
  }
  .MuiAutocomplete-noOptions {
    font-size: 14px;
  }
}
.MuiAutocomplete-noOptions {
  font-size: 12px;
  color: rgb(17 24 39);
}

/* Scroll Bar */
.scroll-bar-primary::-webkit-scrollbar {
  width: 7px;
}
.scroll-bar-primary::-webkit-scrollbar-thumb {
  background-color: #45464772;
  border-radius: 8px;
}
.scroll-bar-primary::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scroll-bar-secondary::-webkit-scrollbar {
  width: 7px;
}
.scroll-bar-secondary::-webkit-scrollbar-thumb {
  background-color: #6ee7b7d1;
  border-radius: 8px;
}
.scroll-bar-secondary::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
